body{
	background:none;
	margin: 0px;
	border: 0px;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}
#header{
	width: auto;
	height: auto;
	background: #34495e;
	
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.headercontainer{
color:black;
}
/* login input field design */ 
.card-conntainer.card{
  max-width: 500px;
  padding: 40px 40px;
  position: absolute;
  top: 0;
  right: 35%;
  width: 450px;
}
.card{
  background-color:rgb(255,255,255); 
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin: 0 auto 25px;
  margin-top: 50px;
}
.btn{
  height: auto;
}




* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page on(roportbox page)*/
